<!-- asignar_actividad.html -->
{% extends 'base.html' %}

{% block content %}
<h2 class="fw-bold mb-4" style="color: var(--muted-700);">
    Asignar Nueva Actividad
</h2>

<div class="card p-4" style="background:white; border-radius:14px; box-shadow:0 8px 30px rgba(20,40,50,0.04);">

    <form method="POST">

        <div class="mb-3">
            <label class="form-label fw-semibold">Nombre de la actividad</label>
            <input type="text" class="form-control" name="nombre" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Colonia</label>
            <input type="text" class="form-control" name="colonia" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Seleccionar Cuadrilla</label>
            <select class="form-select" name="cuadrilla_id" required>
                {% for c in cuadrillas %}
                <option value="{{ c.id }}">{{ c.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit"
                class="btn btn-primary mt-2"
                style="border-radius:12px;">
            Asignar Actividad
        </button>
    </form>

</div>
{% endblock %}

